# Configuration Files

config.json
roles.json
permissiongroups.json
pluginorder.json
links.json
messagefilter.json
adminconfig.json
quizconfig.json
channel.txt

*.old
*.bat
*.swp
*.swo
*.sh

output.txt
