{
    "token":"",
    "prefix":"",
    "embedCol":"0xffffff",
    "muteRoleName":"",
    "immuneRoleNames":[],
    "messageFilter": {
        "caseSensitive":true,
        "channels":[
            {"channel": "*", "whitelist": [], "blacklist": []}
        ]
    },
    "lockedCommands":[
        {"name":"", "channels":[]}
    ],
    "permissions": {
    "permissionGroups": [
            {"roles":[""], "commands":[""]}
        ]
    },
    "roles": {
        "assignableRoles": [],
        "defaultRoles": [],
        "roles":[
            {"id":0,"name":""}
        ]
    }
}
