{
    "token":"",
    "prefix":"",
    "muteRoleName":"",
    "messageFilter": {
        "channels":[
            {"channel": "*", "whitelist": [], "blacklist": []}
        ]
    },
    "permissions": {
    "permissiongroups": [
            {"roles":[""], "commands":[""]}
        ]
    },
    "roles": {
        "assignableRoles": [],
        "defaultRoles": [],
        "roles":[
            {"id":0,"name":""}
        ]
    }
}

